* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  
}

button:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

body {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  color: #1B1C21;
  letter-spacing: -0.2px;
}